.ListPage {
  overflow-y: scroll;
  height: 100%;
}

.ListEntry {
  height: 50px;
  padding: 0 5px;
}

.EntryLeft {
  width: 80%;
  height: 100%;
  float: left;
}

.EntryRight {
  width: 20%;
  height: 100%;
  float: left;
}

.EntryRight > div {
  padding: 11px 0;
}

.tags {
  height: 55%;
  font-size: 20px;
}

.tags > div {
  overflow-x: scroll;
}

.comment {
  height: 45%;
  font-size: 14px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-left: 3px;
}

.TagSpan {
  padding: 0px 5px;
  margin: 0 3px;
  background-color: rgba(0, 0, 255, .5);
}
